@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #424874;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  .nav-item-left {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
  }

  nav {
    display: inline-block;

    a:not(:last-child) {
      margin-right: 30px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.hero {
  display: grid;
  height: 94vh;
  grid-template-columns: 66% auto;

  .left-container {
    background-color: #393f64;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;

    .heading {
      font-size: 60px;
      font-weight: 700;
      line-height: 100%;
    }

    .sub-heading {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
    }

    .hero-svg img {
      margin-top: 20px;
      height: 20px;
    }
    .hero-svg:hover {
      transform: scale(1.5);
      margin-left: 10px;
      transition: all 1s ease;
    }
  }

  .right-container {
    background-color: white;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
    align-items: center;

    .hero-img {
      display: unset;
      margin-left: -50%;
      width: 100%;
    }

    .featured-img {
      width: 20vw;
    }
  }
}
@media all and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 900px;

    .left-container {
      padding: 20px 0;
      text-align: center;
      align-items: center;
    }

    .right-container {
      position: relative;
      overflow: hidden;
      .hero-img {
        display: none;
      }

      .featured-img {
        width: 50vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .nav-item-left {
    display: none;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
  }

  nav {
    width: 100%;
    text-align: center;
  }
}
