@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
}

header {
  background-color: #424874;
  height: 50px;

  .nav-item-left {
    display: inline-block;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 5px;
    font-weight: 700;
  }

  nav {
    float: right;
    padding: 12px 40px;
    display: inline-block;

    a {
      margin: 0px 10px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.hero {
  display: grid;
  height: 95vh;
  grid-template-columns: 66% auto;

  .left-container {
    background-color: #393f64;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;

    .heading {
      font-size: 60px;
      font-weight: 700;
      line-height: 100%;
    }

    .sub-heading {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
    }

    .hero-svg img {
      margin-top: 20px;
      height: 20px;
    }
    .hero-svg:hover {
      transform: scale(1.5);
      margin-left: 10px;
      transition: all 1s ease;
    }
  }

  .right-container {
    background-color: white;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
    align-items: center;

    .hero-img {
      display: unset;
      margin-left: -50%;
      width: 100%;
    }

    .featured-img {
      width: 20vw;
    }
  }
}
@media all and (max-width: 800px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393f64;
    height: 95vh;
  }
  .right-container {
    visibility: hidden;
  }
}
